<div class="container-fluid mt-4">
    <div class="row p-3" *ngIf="proData.length<1">
        <div class="col-md-12">
            <h1>Your cart is empty</h1>
        </div>
    </div>
    <div class="row p-3" *ngIf="proData.length>0">
        <div class="col-md-9">
            <h1>Shopping Cart</h1>

            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>Images</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white" *ngFor="let pro of proData;let i=index">
                        <td class="w-25">
                            <img src='{{pro.imageURL}}' height="60px" width="150px">
                        </td>

                        <td>
                            {{pro.name}}
                        </td>
                        <td>
                            <div class="d-flex mb-4" style="max-width: 300px">
                                <button class="btn btn-dark px-3 me-2"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                    (click)="minusqty(pro._id)">
                                    <i class="fa fa-minus"></i>
                                </button>

                                <div class="form-outline">
                                    <input id="form1" min="1" name="quantity" value="{{data[i].qty}}" type="number"
                                        style="width: 40px;" class="text-center text-dark fw-bold" disabled />
                                </div>

                                <button class="btn btn-dark px-3 ms-2"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                    (click)="plusqty(pro._id)">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>

                        </td>
                        <td>
                            {{pro.price*data[i].qty}}
                        </td>
                        <td>
                            <button class="btn btn-dark" (click)="delCart(pro._id)">Delete</button>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
        <div class="col-md-3 bg-light">
            <div class="row p-2">
                <h5 class="mt-5">Subtotal:<span class="h4">&#8377;{{total}}</span></h5>
                <!-- <label for="">Enter Address:</label>
                <input type="text" class=" form-control mt-2"> -->
                <a routerLink="/checkout" class="btn btn-success mt-3"> Checkout</a>
            </div>
        </div>
    </div>
</div>